@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar{
    background-color: black;
    height: 32rem;
    width: 15rem;
}

 .navbar p {
    color: white;
}

.p {
    color: rgb(122, 68, 68);
}


.navbar button {
    color: white;
    background-color: rgb(68, 65, 65);
}